
.menu-icon{
    margin-left: 20px;
    width: 28px;
    display: none;
}

/* --------------------------media query for menu-------------------------- */



@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0px;
        width: 100%;
        background: #333 ;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin: 10px 70px 11px 0px;
    }

    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/* --------------------media query for < 600px screen-------------------- */

@media only screen and (max-width: 600px){

    .row{
        align-items: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .offer .col-2 p{
       display: none;
    }
    .app-logo img{
        width: 180px;
        margin: 0px auto;
    }

    .footer h3{
        text-align: center;
    }
    .col-5 img{
        filter: grayscale(0%);
    }
    .testimonials .col-3{
        margin: 10px 0;
    }
}